.buy-ticket {
  width: 400px;
  height: 80px;
  background-color: #00B455;
  position: fixed;
  bottom: 0;
  border: 0;
  vertical-align: middle;
  z-index: 1;
  transition: ease-in 0.1s;
}

.buy-ticket-text {
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Gagalin';
  display: block;
  letter-spacing: 1.5px;
  text-align: center;
  transition: 0.5s 0s cubic-bezier(.25, .1, .25, 1);
  margin-left: 0px;
}

.buy-ticket:hover {
  background-color: #00A458;
  cursor: pointer;
}

.buy-ticket:hover .buy-ticket-text {
  margin-left: 50px;
}

.buy-ticket-icon {
  width: 45px;
  height: 45px;
  background: url(../img/pass.png) no-repeat;
  display: inline-block;
  background-size: 46px;
  position: absolute;
  top: 20px;
  left: -45px;
  float: left;
  opacity: 0;
  transition: opacity 0.1s 0.2s ease-out, left 0.3s 0.1s ease-out;
}

.buy-ticket:hover .buy-ticket-icon {
  left: 40px;
  opacity: 1;
  transition: opacity 0.1s 0.2s ease-out, left 0.3s 0.1s ease-out;
}

.splash {
  margin-top: 44px;
  position: inherit;
}
