.buy-ticket {
  width: 400px;
  height: 80px;
  background-color: #00B455;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0;
  vertical-align: middle;
  z-index: 1;
  transition: ease-in 0.1s;
}

.buy-ticket-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 1.5px;
  text-align: center;
  transition: 0.5s 0s cubic-bezier(.25, .1, .25, 1);
}

.buy-ticket:hover {
  background-color: #008A45;
  cursor: pointer;
}

.buy-ticket:hover .buy-ticket-text {
  margin-left: 20px;
}

.buy-ticket-icon {
  width: 45px;
  height: 29px;
  background: url(pass.svg) no-repeat;
  background-size: 46px;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: -45px;
  opacity: 0;
  transition: left 0.5s 0s cubic-bezier(.25, .1, .25, 1);
}

.buy-ticket:hover .buy-ticket-icon {
  left: 40px;
  opacity: 1;
}
